### Churn Prediction

In [1]:
##Dataset Link: https://www.kaggle.com/aashishrudhra/churn-prediction/data#
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

In [2]:
input_df=pd.read_csv('churn_prediction.csv')

In [3]:
input_df.dropna(inplace = True)
df = input_df

In [4]:
input_df.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,days_since_last_transaction,...,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,1,3135,66,Male,0.0,self_employed,187.0,2,755,224.0,...,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0
4,6,2531,42,Male,2.0,self_employed,1494.0,3,388,58.0,...,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1
5,7,263,42,Female,0.0,self_employed,1096.0,2,1666,60.0,...,16059.34,15211.29,13798.82,0.36,0.36,857.50,286.07,15719.44,15349.75,0
6,8,5922,72,Male,0.0,retired,1020.0,1,1,98.0,...,7714.19,7859.74,11232.37,0.64,0.64,1299.64,439.26,7076.06,7755.98,0
7,9,1145,46,Male,0.0,self_employed,623.0,2,317,172.0,...,8519.53,6511.82,16314.17,0.27,0.27,443.13,5688.44,8563.84,5317.04,0

In [5]:
ordinal_encoder1 = OrdinalEncoder(dtype = np.int64)
ordinal_encoder2 = OrdinalEncoder(dtype = np.int64)

df['gender'] = ordinal_encoder1.fit_transform(np.array(df['gender']).reshape(-1, 1))
df['occupation'] = ordinal_encoder2.fit_transform(np.array(df['occupation']).reshape(-1, 1))

In [6]:
print(ordinal_encoder1.categories_)
print(ordinal_encoder2.categories_)

[array(['Female', 'Male'], dtype=object)]
[array(['company', 'retired', 'salaried', 'self_employed', 'student'],
      dtype=object)]

In [7]:
df.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,days_since_last_transaction,...,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,1,3135,66,1,0.0,3,187.0,2,755,224.0,...,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0
4,6,2531,42,1,2.0,3,1494.0,3,388,58.0,...,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1
5,7,263,42,0,0.0,3,1096.0,2,1666,60.0,...,16059.34,15211.29,13798.82,0.36,0.36,857.50,286.07,15719.44,15349.75,0
6,8,5922,72,1,0.0,1,1020.0,1,1,98.0,...,7714.19,7859.74,11232.37,0.64,0.64,1299.64,439.26,7076.06,7755.98,0
7,9,1145,46,1,0.0,3,623.0,2,317,172.0,...,8519.53,6511.82,16314.17,0.27,0.27,443.13,5688.44,8563.84,5317.04,0

In [8]:
### Independent and Dependent features
X=df.iloc[:,:6]
X = X.drop(columns = ['vintage'])
X['dependents'] = X['dependents'].astype(int)
y=df.iloc[:,-1]

In [9]:
X.head()

   customer_id  age  gender  dependents  occupation
0            1   66       1           0           3
4            6   42       1           2           3
5            7   42       0           0           3
6            8   72       1           0           1
7            9   46       1           0           3

In [10]:
y.head(10)

0     0
4     1
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    1
Name: churn, dtype: int64

In [11]:
print(sum(y == 0))
print(sum(y == 1))

17793
4274

In [12]:
### Train Test Split
from sklearn.model_selection import train_test_split

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=10)

In [14]:
### Implement Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)

/Users/srikanthmandru/Applications/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [15]:
## Prediction
y_pred=classifier.predict(X_test)

In [16]:
### Check Accuracy
from sklearn.metrics import accuracy_score, f1_score
acc_score_ = accuracy_score(y_test,y_pred)
f1_score_ = f1_score(y_test,y_pred)

In [17]:
print(acc_score_)
print(f1_score_)

0.754115692493581
0.1358811040339703

In [18]:
### Create a Pickle file using serialization 
import pickle
pickle_out = open("churn_classifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [19]:
import numpy as np

In [20]:
classifier.predict([[10,68,1,1, 3]])

array([0])